@model Shop.Data.Models.Order

<div class="col-lg-auto m-1 p-1">
	<h1>Заказ №@Model.Id</h1>
	<table class="table table-bordered table-primary">
		<tr>
			<td>Имя</td>
			<td>@Model.Name</td>

		</tr>
		<tr>
			<td>Фамилия</td>
			<td>@Model.SurName</td>

		</tr>
		<tr>
			<td>Телефон</td>
			<td>@Model.Phone</td>

		</tr>
		<tr>
			<td>Почтовый ящик</td>
			<td>@Model.Email</td>

		</tr>
		<tr>
			<td>Адрес</td>
			<td>@Model.Address</td>
		</tr>
	</table>
	@{
		foreach (var detail in Model.OrderDetails)
		{
			<img src="@detail.Car.Img" alt="@detail.Car.Name" />
		}
	}
</div>